a:not(.container-menu__active) {
  text-decoration: none;
  color: #1f1e25;
}

.logo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 91px;
  background-color: #ffffff;
}

.container-logo {
  width: 147px;
  align-items: center;
}

.container-logo__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
}

.container-logo__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
  gap: 10px;
  font-family: work sans;
}

.container-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  width: 588px;
  font-family: Roboto;
  color: #707c87;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container-menu__active {
  color: #2c36f2;
  text-decoration: none;
}

.container-login {
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.container-login__image {
  display: flex;
  justify-content: center;
  width: 20px;
}

.container-login__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Roboto;
  font-weight: 400;
}

.main-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url("img/Rectangle.png");

  box-sizing: border-box;
}

.sap-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 50px;
}

.sap-container__title {
  font-family: Roboto;
  font-size: 54px;
  font-weight: 700;
  color: #f6f7ff;
}

.sap-container__description {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #e0e1ea;
}

.sap-container__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7ff;
  width: 234px;
  height: 53px;
  border: 0;
  border-radius: 4px;
}

.sap-container__button--text {
  display: flex;
  color: #707c87;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
}

.converter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 554px;
}

.converter-container {
  width: 425px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 25px;
  gap: 30px;
}

.converter-container__title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  color: #1f1e25;
}

.converter-container__description {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  color: #707c87;
}

.converter-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 60px;
  border: 0;
  border-radius: 4px;
  background-color: #2c36f2;
}

.converter-container__button--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #f6f7ff;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 224px;
  background-color: #f6f7ff;
}

.footer-container-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 252px;
}

.footer-container-logo__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 700;
  gap: 9px;
}

.footer-container-logo__image {
  width: 23px;
  height: 23px;
}

.footer-container-logo__description {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #707c87;
}

.footer-container-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #707c87;
  gap: 5px;
  font-family: Roboto;
  font-weight: 500;
}

.footer-container-support {
  width: 200px;
  height: 90px;
}

.footer-container-support__text {
  display: flex;
  gap: 23px;
  font-family: Roboto;
  font-weight: 500;
  color: #1f1e25;
}

.footer-container-support__image {
  width: 10px;
  height: 16px;
}

.footer-container-support__description {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #707c87;
}

.footer-container-number {
  width: 230px;
  height: 90px;
  display: flex;
  flex-direction: column;
}

.footer-container-number__text {
  display: flex;
  gap: 23px;
  font-family: Roboto;
  font-weight: 500;
  color: #1f1e25;
}

.footer-container-number__image {
  width: 16px;
  height: 16px;
}

.footer-container-number__description {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #707c87;
}

.footer-container-icons {
  display: flex;
  gap: 10px;
  height: 90px;
}

.footer-container-icons__facebook {
  width: 9px;
  height: 16px;
}

.footer-container-icons__insta {
  width: 16px;
  height: 16px;
}

.footer-container-icons__twitter {
  width: 16px;
  height: 13px;
}

.footer-container-icons__youtube {
  width: 16px;
  height: 13px;
}
