a:not(.container-menu__active, .footer-container-menu__options) {
  text-decoration: none;
  color: #1f1e25;
}

.logo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 91px;
  background-color: #ffffff;
}

.container-logo {
  width: 147px;
  align-items: center;
}

.container-logo__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
}

.container-logo__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
  gap: 10px;
}

.container-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  width: 588px;
  font-family: Roboto;
  color: #707c87;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container-menu__active {
  color: #2c36f2;
  text-decoration: none;
}

.container-login {
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.container-login__image {
  display: flex;
  justify-content: center;
  width: 20px;
}

.container-login__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Roboto;
  font-weight: 400;
}

.main-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url("img/Rectangle.png");

  box-sizing: border-box;
}

.sap-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 50px;
}

.sap-container__title {
  font-family: Roboto;
  font-size: 54px;
  font-weight: 700;
  color: #f6f7ff;
}

.sap-container__description {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #e0e1ea;
}

.sap-container__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7ff;
  width: 234px;
  height: 53px;
  border: 0;
  border-radius: 4px;
}

.sap-container__button--text {
  display: flex;
  color: #707c87;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
}

.converter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 554px;
}

.converter-container {
  width: 425px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 25px;
  gap: 30px;
}

.converter-container__title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  color: #1f1e25;
}

.converter-container__description {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  color: #707c87;
}

.converter-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 60px;
  border: 0;
  border-radius: 4px;
  background-color: #2c36f2;
}

.converter-container__button--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #f6f7ff;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 224px;
  background-color: #f6f7ff;
}

.footer-container-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-container-logo__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 700;
  gap: 9px;
}

.footer-container-logo__image {
  width: 23px;
  height: 23px;
}

.footer-container-logo__description {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #707c87;
}

.footer-container-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 5px;
  font-family: Roboto;
  font-weight: 400;
}

.footer-container-menu__options {
  color: #707c87;
  text-decoration: none;
}

.footer-container-support {
  width: 200px;
  height: 90px;
}

.footer-container-support__text {
  display: flex;
  gap: 23px;
  font-family: Roboto;
  font-weight: 500;
  color: #1f1e25;
}

.footer-container-support__image {
  width: 10px;
  height: 16px;
}

.footer-container-support__description {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #707c87;
}

.footer-container-number {
  width: 230px;
  height: 90px;
  display: flex;
  flex-direction: column;
}

.footer-container-number__text {
  display: flex;
  gap: 23px;
  font-family: Roboto;
  font-weight: 500;
  color: #1f1e25;
}

.footer-container-number__image {
  width: 16px;
  height: 16px;
}

.footer-container-number__description {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #707c87;
}

.footer-container-icons {
  display: flex;
  gap: 10px;
  height: 90px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-container-icons__facebook {
  width: 9px;
  height: 16px;
}

.footer-container-icons__insta {
  width: 16px;
  height: 16px;
}

.footer-container-icons__twitter {
  width: 16px;
  height: 13px;
}

.footer-container-icons__youtube {
  width: 16px;
  height: 13px;
}

@media (max-width: 1200px) {
  .footer-container-logo__text {
    font-size: 18px;
  }
  .footer-container-logo__image {
    width: 21px;
    height: 21px;
  }
  .footer-container-logo__description {
    font-size: 10px;
  }
  .footer-container-menu__options {
    font-size: 14px;
  }
  .footer-container-support {
    width: 170px;
  }
  .footer-container-support__text {
    font-size: 14px;
  }
  .footer-container-support__image {
    width: 8px;
    height: 14px;
  }
  .footer-container-support__description {
    font-size: 10px;
  }
  .footer-container-number {
    width: 200px;
  }
  .footer-container-number__text {
    font-size: 14px;
  }
  .footer-container-number__image {
    width: 14px;
    height: 14px;
  }
  .footer-container-number__description {
    font-size: 10px;
  }
  .footer-container-icons__facebook {
    width: 7px;
    height: 14px;
  }
  .footer-container-icons__insta {
    width: 14px;
    height: 14px;
  }
  .footer-container-icons__twitter {
    width: 14px;
    height: 13px;
  }
  .footer-container-icons__youtube {
    width: 14px;
    height: 11px;
  }
  .logo-wrapper {
    height: 60px;
  }
  .container-logo {
    width: 110px;
  }
  .container-logo__text {
    font-size: 15px;
  }
  .container-logo__image {
    width: 15px;
    height: 15px;
  }
  .container-menu {
    font-size: 11px;
    width: 420px;
  }
  .container-login {
    font-size: 11px;
  }
  .container-login__image {
    width: 13px;
    height: 15px;
  }
  .sap-container__title {
    font-size: 44px;
  }
  .sap-container__description {
    font-size: 13px;
  }
  .sap-container__button {
    width: 152px;
    height: 32px;
  }
  .sap-container__button--text {
    font-size: 10px;
  }
  .sap-container__image {
    width: 271px;
  }
  .converter-container {
    padding-right: 0;
    gap: 15px;
    padding-left: 50px;
  }
  .converter-container__title {
    font-size: 35px;
  }
  .converter-container__description {
    font-size: 13px;
    width: 261px;
  }
  .converter-container__button {
    width: 206px;
    height: 35px;
  }
  .converter-container__button--text {
    font-size: 13px;
  }
  .converter-container__image {
    width: 360px;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    height: 616px;
    gap: 50px;
    flex-direction: column;
  }
  .footer-container-logo {
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 200px;
    padding-top: 20px;
  }

  .footer-container-logo__text {
    justify-content: center;
    gap: 9px;
  }

  .footer-container-logo__description {
    margin: 0;
  }

  .footer-container-menu {
    align-items: center;
    gap: 7px;
  }

  .footer-container-support__text {
    justify-content: center;
    gap: 10px;
    padding-right: 20px;
  }

  .footer-container-number__text {
    justify-content: center;
  }
  .container-logo {
    width: 90px;
  }
  .container-logo__text {
    font-size: 13px;
  }
  .container-logo__image {
    width: 13px;
    height: 13px;
  }
  .container-menu {
    display: none;
    font-size: 9px;
    width: 395px;
    justify-content: center;
    gap: 30px;
  }
  .container-login {
    font-size: 9px;
  }
  .container-login__image {
    width: 10px;
    height: 12px;
  }
  .main-wrapper {
    flex-direction: column;
  }
  .sap-container {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    width: auto;
  }
  .sap-container__image {
    width: 241px;
  }
  .converter-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .converter-container {
    align-items: center;
    padding-left: 0;
    width: auto;
  }
  .converter-container__title {
    font-size: 30px;
  }
  .converter-container__description {
    font-size: 10px;
  }
  .converter-container__button {
    width: 186px;
    height: 30px;
  }
  .converter-container__button--text {
    font-size: 11px;
  }
  .converter-container__image {
    width: 300px;
    padding-right: 0;
  }
}

.exchange-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 557px;
  background-color: #f6f7ff;
}

.sap-exchange-container {
  width: 71%;
  height: 397px;
  background-color: #ffffff;
  padding-left: 65px;
  padding-right: 65px;
}

.sap-exchange-container__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
}

.sap-exchange-container__first-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sap-exchange-container__description {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  color: #707c87;
}

.first-form__number {
  width: 220px;
  height: 60px;
  border-radius: 4px;
  border-color: #c1c2ca;
  border-width: 1px;
  color: #707c87;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 24px;
}

.first-form__volute {
  width: 120px;
  height: 63px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #c1c2ca;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 600;
  text-align: center;
  color: #707c87;
}

.first-form__calendar {
  width: 224px;
  height: 60px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #c1c2ca;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  color: #707c87;
}

.second-form__number {
  width: 220px;
  height: 60px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #c1c2ca;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  color: #707c87;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 24px;
}

.second-form__volute {
  width: 120px;
  height: 63px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #c1c2ca;
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  color: #707c87;
  text-align: center;
}

.second-form__container-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.second-form__container-button--button {
  width: 220px;
  height: 60px;
  border-radius: 4px;
  background-color: #2c36f2;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #f6f7ff;
  border: 0;
}

.sap-exchange-container__form--image {
  margin-bottom: 25px;
}

.history-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 557px;
  background-color: #ffffff;
}

.history-container {
  width: 71%;
  height: 397px;
  background-color: #f6f7ff;
  padding-left: 65px;
  padding-right: 65px;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-container__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  color: #1f1e3f;
}

.intro-container__button {
  width: 187px;
  height: 51px;
  border-radius: 4px;
  border: 0;
  background-color: #2c36f2;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #f6f7ff;
}

.transactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  gap: 20px;
}

.first-column-transactions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.second-column-transactions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.column-transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 350px;
  height: 42px;
  background-color: #ffffff;
  border-width: 2px;
  border-color: #c1c2ca;
}

.column-transaction__date {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #c1c2ca;
}

.column-transaction__quantity {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  color: #707c87;
}

.column-transaction__image {
  width: 13.94px;
  height: 10px;
  border-color: #c1c2ca;
  border-width: 2px;
}

@media (max-width: 1200px) {
  .exchange-wrapper {
    height: 500px;
  }
  .sap-exchange-container {
    height: 420px;
  }
  .sap-exchange-container__title {
    font-size: 37px;
    text-align: center;
    padding-left: 0;
  }
  .sap-exchange-container__description {
    font-size: 17px;
  }
  .first-form {
    display: flex;
    flex-direction: column;
  }
  .first-form__number {
    width: 215px;
    height: 55px;
    font-size: 17px;
    margin-right: 0;
  }
  .first-form__volute {
    width: 115px;
    height: 58px;
    font-size: 17px;
  }
  .first-form__calendar {
    width: 219px;
    height: 55px;
    font-size: 17px;
  }

  .sap-exchange-container__form--image {
    margin-top: 50px;
  }

  .second-form {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .second-form__number {
    width: 215px;
    height: 55px;
    font-size: 17px;
    margin-right: 0;
  }
  .second-form__volute {
    width: 115px;
    height: 58px;
    font-size: 17px;
  }
  .second-form__container-button--button {
    width: 215px;
    height: 55px;
    font-size: 15px;
    margin-left: 0;
  }
  .history-wrapper {
    height: 610px;
  }
  .history-container {
    height: 550px;
  }
  .intro-container {
    justify-content: space-around;
    gap: 0;
  }
  .intro-container__title {
    font-size: 25px;
  }
  .intro-container__button {
    width: 182px;
    height: 46px;
    font-size: 15px;
  }
  .transactions {
    flex-direction: column;
  }
  .column-transactions {
    width: 345px;
    height: 37px;
  }
  .column-transaction__date {
    font-size: 15px;
  }
  .column-transaction__quantity {
    font-size: 15px;
  }
  .column-transaction__image {
    width: 10.94px;
    height: 7px;
  }
}

@media (max-width: 768px) {
  .exchange-wrapper {
    height: 800px;
  }
  .sap-exchange-container {
    height: 745px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .sap-exchange-container__title {
    font-size: 35px;
    padding-left: 3px;
  }
  .sap-exchange-container__description {
    font-size: 15px;
  }
  .sap-exchange-container__first-form {
    flex-direction: column;
    align-items: center;
  }
  .first-form {
    align-items: center;
  }
  .first-form__number {
    width: 210px;
    height: 50px;
    font-size: 15px;
  }
  .first-form__volute {
    width: 110px;
    height: 53px;
    font-size: 15px;
  }
  .first-form__calendar {
    width: 214px;
    height: 50px;
    font-size: 15px;
  }

  .sap-exchange-container__form--image {
    margin-top: 35px;
  }

  .second-form {
    align-items: center;
  }

  .second-form__number {
    width: 210px;
    height: 50px;
    font-size: 15px;
    margin-right: 0;
  }
  .second-form__volute {
    width: 110px;
    height: 53px;
    font-size: 15px;
  }
  .second-form__container-button--button {
    width: 210px;
    text-align: center;
    height: 50px;
    font-size: 13px;
  }
  .history-container {
    height: 554px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .intro-container {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .intro-container__title {
    font-size: 23px;
  }
  .intro-container__button {
    width: 177px;
    height: 41px;
    font-size: 12px;
  }
  .column-transactions {
    width: 260px;
    height: 32px;
  }
  .column-transaction__date {
    font-size: 13px;
  }
  .column-transaction__quantity {
    font-size: 13px;
  }
  .column-transaction__image {
    width: 9.94px;
    height: 6px;
  }
}
